    /* This makes it so that everything get a property so that all the sizing is 
     included when width and height are applied- all included in total div space, notice the "*" symbol usage*/
* {
   
    color: black;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
  }

  .banner-top{
    background-color: whitesmoke;
  }
 /* Set all these unless otherwise told something different */

 #background{
     background: #32383E;
 }
 .deck-1{
     border-bottom-color: seashell;
     background: #32383E;
     
 }
 .deck-1,.deck-2{
    
    max-width: 100%;
    margin: auto;
    min-height: 40vh;
    
    
}
/* Card Colors */
#card-color1{
    background: #FFC41A;

}
#card-color2{
    background: #FF7B0F;

}
#card-color3{
    background:#EA4335;

}
#card-color4{
    background:#3FE7AC;

}
#card-color5{
   background: #FFE2F6;

}
#card-color6{
    background:#F676C1;
}

div[id^="card"] {
    padding:1vmin;
}

.deck-2{
    
    background:cover;
  
    
   
} 

.black{
    background:black;
}
@media (min-width:369px){
    .wrapper{
        min-height:calc(90vh);
        overflow-x:hidden;
        max-width: 100%;

    }

    .shadow{
        min-height: 300px;
    }
    
}


#banner-bg{
    /* background: rgba(238, 240, 128, 0.425) */
    background: transparent;
    padding:5vh;
   
}

#name-bg{
    font-family: 'Molengo', sans-serif;
    font-family: 'Courgette', cursive;
}
#profile-pic{
    max-height: 300px;
    max-width:200px;
}
nav{
    padding: 20px;
    
}

footer {
   
    background-color: lightgrey;
    padding-top:5px;
    
}


/* portfolio */


/* Contact */

#contact-form ul {
    margin-bottom: 10px;
}

#contact-form li {
    margin-bottom: 10px;

}
 label,
 input[type=text],
 input[type=email],
 textarea {
     display: block;
     width:100%;    
 }

 input[type=text],
 input[type=email],
 textarea {
     height: 35px;
     border:1px solid #ddd;
     padding: 0 10px;
     font-size: 14px;
 }

 textarea {
     height: 200px;
 }

input[type=submit] {
     background: #4aaaa5;
     border: 0 none;
     color: #fff;
     font-size: 18px;
     padding:10px 30px;
     cursor: pointer; 
}

.small-icon{
    max-width: 20%;
    max-height:20%;
}